/* set map, body, and html to 100% of the screen size */
#overViewMap {
  position: relative;
  height: 300px;  /* or as desired */
  width: 25%;  /* This means "100% of the width of its container", the .col-md-8 */
  margin: 0 auto;
  background-image:url("../../assets/EIA-PADD-Map.jpg");
  background-repeat:no-repeat;
  background-size: contain;
}

#modeltlb {
  position: relative;
  border: 3px solid navy;
  border-radius: 8px;
  height:350px; 
  width: 100%;
  
}

.legend {
  padding: 2%;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}



h1 {
  font-family: "Times New Roman";
  color: white;
  text-align: center;
  background-color:navy;
  background-image:url("../../assets/gas-station.jpg");
  
}

h3{
  font-family: "Times New Roman";
  color: whitesmoke;
  text-align: center;
  background-color:navy;
  margin: 0;
}

.row1 {
  background-color:rgb(203, 224, 231);
  background-image: url("../../assets/gas-station.jpg");
  margin-block:auto;
  opacity: 0.5;
 
}
.row {
  background-color:rgb(203, 224, 231);
  
  margin-block:auto;
 
 
}
.chartrow{
  height: 300px;
}


.card-body{
height:350px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: #7fe47b;
  color: white;
  padding: 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.panel-heading{
  padding: 15px;
}
